<%= form_for(@cohort) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="well">
    <div class="form-group">
      <%= f.label :start_at %>
      <%= f.text_field :start_at, data:{ provide:'datepicker' }, class: 'form-control', value: @cohort.start_at.present? ? @cohort.start_at.strftime("%Y-%m-%d") : nil %>
    </div>

    <div class="form-group">
      <%= f.label :new_submission_cutoff_date %>
      <%= f.text_field :new_submission_cutoff_date, data:{ provide:'datepicker' }, class: 'form-control', value: @cohort.new_submission_cutoff_date.present? ? @cohort.new_submission_cutoff_date.strftime("%Y-%m-%d") : nil %>
    </div>

    <div class="form-group">
      <%= f.label :edit_submission_cutoff_date %>
      <%= f.text_field :edit_submission_cutoff_date, data:{ provide:'datepicker' }, class: 'form-control', value:  @cohort.edit_submission_cutoff_date.present? ? @cohort.edit_submission_cutoff_date.strftime("%Y-%m-%d") : nil %>
    </div>

    <div class="form-group">
      <%= f.label :steel_work_completed_deadline %>
      <%= f.text_field :steel_work_completed_deadline, data:{ provide:'datepicker' }, class: 'form-control', value: @cohort.steel_work_completed_deadline.present? ? @cohort.steel_work_completed_deadline.strftime("%Y-%m-%d") : nil %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Categories</h3>
      <div id="categories">
        <%= f.fields_for :categories do |category| %>
          <%= render 'category_fields', :f => category %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add category', f, :categories, class: 'btn btn-primary btn-block' %>
        </div>
      </div>
      <hr />
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="btn-group-vertical btn-block">
        <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
        <%= f.submit "Save and #{f.object.active? ? "deactivate" : "activate"} cohort", class: "btn btn-primary", name: 'activate_cohort' %>
      </div>
    </div>
  </div>
<% end %>
