<div class="nested-fields well attachment">
  <div class="form-group">
    <% unless f.object.url.nil? %>
      <%= image_tag f.object.url, class: 'img-responsive' %>
    <% else %>
      <%= f.label :attachment_uploader, "Attachment uploader (Note only jpg, jpeg, png and gif formats accepted)" %>
      <%= f.file_field :attachment_uploader, accept: "image/*", class: 'form-control' %>
    <% end %>
    <%= f.hidden_field :url, class: 'url-holder' %>
  </div>
  <%= link_to_remove_association('Remove this attachment', f, class: 'btn btn-primary remove-attachment') %>
</div>

