<%= form_for(@submission, validate: true, html: { id: 'submission-form', class: 'form-pad-bottom', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>

  <div class="row">
    <div class="col-md-12">
      <h3>General Project Information</h3>
      <div class="well">
        <div class="form-group">
          <%= f.label :name, "Project name" %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :steelwork_completion_date, "Estimated date of steelwork completion" %>
          <div id="steelwork_completion_date" class="small" data-steelwork-completion-date="<%= @submission.cohort.steel_work_completed_deadline.strftime("%Y-%m-%d") %>">
            Steelwork must be completed prior to <%= @submission.cohort.steel_work_completed_deadline.strftime("%B %-d, %Y") %>
          </div>
          <%= f.text_field :steelwork_completion_date, data:{ provide: 'datepicker' }, class: 'form-control', value: @submission.steelwork_completion_date.present? ? @submission.steelwork_completion_date.strftime("%Y-%m-%d") : nil %>
        </div>

        <div class="form-group">
          <%= f.label :project_location %>
          <%= f.text_area :project_location, class: 'form-control no-wysiwyg' %>
        </div>

        <div class="form-group">
          <%= f.label :cisc_member, "CISC - Alberta Region Member Involved" %>
          <%= f.text_field :cisc_member, class: 'form-control' %>
          <div class="checkbox">
            <label>
              <%= f.check_box :contact_cisc %> Check here if you are not sure and a Planning Team member will follow up with you.
              For a list of current Alberta CISC members, please click <%= link_to "here", "https://www.cisc-icca.ca/members-associates-directory/", target: "_blank" %>.
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Team Members</h3>
      <div id="team_member">
        <%= f.fields_for :team_members do |team_member| %>
          <%= render 'team_member_fields', :f => team_member %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add team member', f, :team_members, class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Project Descriptions</h3>
      <div class="well">
        <div class="form-group">
          <%= f.label :brief_description %>
          <%= f.text_area :brief_description, class: 'form-control', data: { max_words: 125 } %>
          <small id="emailHelp" class="form-text text-muted">A 125 word introductory paragraph describing the project for use in Awards promotional materials.</small>
        </div>

        <div class="form-group">
          <%= f.label :description, "Full description" %>
          <%= f.text_area :description, class: 'form-control', data: { max_words: 500 } %>
          <small id="emailHelp" class="form-text text-muted">A 500 word description of the project.</small>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Categories</h3>
      <p>Please select the categories in which you would like to enter the project and use the description to further explain why it deserves to win in this category.
        Note: The judging panel has the ability to shift projects to different categories as they deem appropriate based upon their review of all submissions.</p>
      <div>
        <%= f.fields_for :submission_categories do |submission_category| %>
          <%= render 'submission_category_fields', :f => submission_category %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Attach Project Photos</h3>
      <div id="attachments">
        <%= f.fields_for :attachments do |attachment| %>
          <%= render 'attachment_fields', :f => attachment %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "#{@submission.attachments.length > 0 ? "Add another attachment" : "Add attachment"}", f, :attachments, class: 'btn btn-primary btn-block', id: 'add-attachment' %>
        </div>
      </div>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="btn-group-vertical btn-block">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      <%= f.submit "Click to submit for judging", class: "btn btn-primary", name: 'submit_judges',  data: { confirm: "This will submit this award application for judging. You will not be able to edit this any more. Are you sure?" } %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $('#attachments').on('cocoon:after-insert', function(e, insertedItem) {
    insertedItem.find("input:file").each(function(i, elem) {
      var fileInput    = $(elem);
      var form         = $(fileInput.parents('form:first'));
      var submitButton = form.find('input[type="submit"]');
      var progressBar  = $("<div class='bar'></div>");
      var barContainer = $("<div class='progress'></div>").append(progressBar);
      fileInput.after(barContainer);
      fileInput.fileupload({
        fileInput:       fileInput,
        url:             form.data('url'),
        type:            'POST',
        autoUpload:       true,
        formData:         form.data('form-data'),
        paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
        dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
        replaceFileInput: false,
        progressall: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          progressBar.css('width', progress + '%')
        },
        start: function (e) {
          submitButton.prop('disabled', true);

          progressBar.
          css('background', 'green').
          css('display', 'block').
          css('width', '0%').
          text("Loading...");
        },
        done: function(e, data) {
          submitButton.prop('disabled', false);
          progressBar.text("Uploading done");

          // extract key and generate URL from response
          var key   = $(data.jqXHR.responseXML).find("Key").text();
          var url   = '//' + form.data('host') + '/' + key;

          // create hidden field
          insertedItem.find('.url-holder').val(url);
        },
        fail: function(e, data) {
          submitButton.prop('disabled', false);

          progressBar.
          css("background", "red").
          text("Failed");
        }
      });
    });
  });

  var wysiwygTextarea = $('textarea:not(.no-wysiwyg)');
  wysiwygTextarea.enableClientSideValidations();

  $('.apply-category').change(function(){
    var description = $(this).parent().parent().siblings('.js-categoryDescription');
    var textarea = description.find("textarea");
    description.toggle(this.checked);
    if (this.checked) {
      textarea.froalaEditor('position.refresh');
    } else {
      textarea.froalaEditor('html.set', '');
      textarea.val($(this).froalaEditor('html.get'));
      var validators = textarea.closest('form')[0].ClientSideValidations.settings.validators;
      textarea.data("changed", true);
      textarea.isValid(validators);
    }
  });

  $(document).ready(function(){
    dropDownClean();
    $('.apply-category').each(function(){
      if (!this.checked) {
        $(this).parent().parent().siblings('.js-categoryDescription').hide();
      }
    })
  });

  $('#team_member').on('cocoon:after-insert', function(e, insertedItem) {
    dropDownClean();
  });

  function dropDownClean () {
    $(".title-selector").filter(function(){return this.value !== "<%= t('submission.team_member.titles.other') %>"}).trigger('change');
  }

  wysiwygTextarea.on('froalaEditor.keyup', function (e, editor) {
    var input = $(this).val($(this).froalaEditor('html.get'));
    var form = input.closest('form');
    var validators = form[0].ClientSideValidations.settings.validators;
    input.data("changed", true);
    input.isValid(validators);
  });

  $(function () {
    $('#submission-form').areYouSure({message: 'Are you sure you want to leave? Changes may not have been saved.'});
  });

  $("#submission-form").submit(function(){
    $("#submission-form").removeClass('dirty');
  });

  $('#add-attachment').on('click', function(){
    if($('.attachment').length === 0){
      $('#add-attachment')[0].innerText = 'Add another attachment'
    }
  });
</script>
