<table class="table table-striped">
  <tr class="js-categoryToggle">
    <td class="col-md-3">
      <%= check_box_tag(
              "#{f.object.category.title.parameterize(separator: '_')}_#{f.object.category.id}",
              f.object.category.always_selected?,
              f.object.description.present?,
              {
                  class: "apply-category",
                  disabled: f.object.category.always_selected? ? true : false,
                  checked: f.object.category.always_selected? || f.object.description.present? ? true : false
              })
      %>
      <b><%= f.object.category.title %></b>
    </td>
    <td class="col-md-9"><%= sanitize(f.object.category.description) %></td>
  </tr>

  <tr class="js-categoryDescription">
    <td><%= f.label :description %></td>
    <td>
      <%= f.text_area :description, class: 'form-control custom-control', data: { max_words: 350 } %>
      <small id="emailHelp" class="form-text text-muted">350 word limit</small>
    </td>
  </tr>
  <%= f.hidden_field :category_id %>
</table>
