<% provide(:title, 'Current submissions') %>

<div class="row title-row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>Submissions</h1>
  </div>
  <div style="margin-left:auto">
    <%= link_to("New Submission", new_submission_path, class: "btn btn-primary") if show_new_submission_button? %>
  </div>
</div>

<% unless @cohorts.empty? %>
  <%= form_tag bulk_actions_url, method: :post do %>
    <% @cohorts.each do |cohort| %>
      <div class="well">
        <div class="row">
          <div class="col-md-12">
            <h3>Submissions for <%= "#{cohort.start_at.strftime("%Y-%m-%d")} to #{cohort.new_submission_cutoff_date.strftime("%Y-%m-%d")}" %></h3>
          </div>
        </div>
        <%= render partial: "cohort_submissions", locals: {
            title: 'Submitted',
            submissions: cohort.submissions.submitted.reject{|submission| !@submissions.include?(submission)}
        } unless cohort.submissions.submitted.reject{|submission| !@submissions.include?(submission)}.empty? %>
        <%= render partial: "cohort_submissions", locals: {
            title: 'Incomplete',
            submissions: cohort.submissions.incomplete.reject{|submission| !@submissions.include?(submission)}
        } unless cohort.submissions.incomplete.reject{|submission| !@submissions.include?(submission)}.empty? %>
      </div>
    <% end %>
    <%= submit_tag "Download Selected Submissions", class: "btn btn-primary" %>
    <%= submit_tag "Delete Selected Submissions", class: "btn btn-primary", name: 'bulk_deletion', data: {confirm: "This will delete the selected submissions and cannot be undone. Are you sure?"} %>
  <% end %>
<% end %>

