<% provide(:title, submission.name) %>
<h1>
  <%= submission.name %>
  <br/>
  <small><%= submission.project_location %></small>
</h1>

<div class="row">
  <div class="col-md-12">
    <small>Brief Description</small>
    <%= sanitize(submission.brief_description) %>
  </div>
</div>
<h3>Team Members</h3>
<table class="table table-striped">
  <% submission.team_members.each do |team_member| %>
    <tr>
      <td class="col-md-4"><b><%= team_member.name %></b></td>
      <td class="col-md-4"><%= team_member.title %></td>
      <td class="col-md-4"><%= team_member.email %></td>
    </tr>
  <% end %>
</table>
<h3>Description</h3>
<div class="row">
  <div class="col-md-12">
    <%= sanitize(submission.description) %>
  </div>
</div>
<h3>Categories</h3>
<table class="table table-striped">
  <!-- TODO: Sort with required categories at top -->
  <% submission.submission_categories.each do |submission_category| %>
    <tr>
      <td class="col-md-3"><b><%= submission_category.category.title %></b></td>
      <td class="col-md-9"><%= sanitize(submission_category.description) %></td>
    </tr>
  <% end %>
</table>

<p>Attached Files:</p>
<% submission.attachments.each do |attachment| %>
  <%= image_tag attachment.get_image_handler_path, class: 'img-responsive' %>
<% end %>
